<!doctype html>
<html>
<head>
  <meta charSet="utf-8" />
  <title>Your App</title>
</head>
<body>
  <script>
    var ctx = "<%= context.config.publicPath %>"
    console.log('---template: hello', ctx)
  </script>
  <!-- this is my custom html template -->
  <div id="root"></div>
</body>
</html>
